
@{
    ViewBag.Title = "Contact";
}


<div style="margin-top:150px; width:100%; height:400px; ">
    <div class="col-md-4">
        <img style="float:right;margin-top:50px;clear: both;display: block;margin: auto; width:40%; height:40%;" src="~/img/me.jpg">
    </div>
    <div class="col-md-7">
        <div>
            <h2 style="margin:0; padding:0;margin-left:30%; color:black;">Shawn Di</h2>
        </div>
        <div style="margin-top:50px;">
            <p style="font-size:20px; color:black">
                My name is Shawn Di. A web application designer specialise in creating beautiful usable professional Singal Page Applications using best practice accessibility and the latest Front-end and Back-end technologies. All my application is lovingly hand coded
                <ul style="font-size:20px;color:black">
                    <li>Coding in Javascript, Angular JS, React.js, Node.js</li>
                    <li>Development on Web application using HTML5, CSS3, SASS, Design</li>
                    <li>Designed and developed Web Application using Single Page Application Architecture.</li>
                    <li>Build various RESTful API in appliction</li>
                    <li>Worked on Microsoft visual studio Asp.net, Entity Framework, Linq, SQL-Server Database.</li>
                </ul>
            </p>
        </div>
        <p style="font-size:20px;text-align:left; color:black;">&copy; @DateTime.Now.Year - dixiaojunfrank@gmail.com</p>
    </div>
</div>
