@section scripts{
    
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <link href="~/Content/mainPage.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/angular-waterfall.js" type="text/javascript"></script>
    <script src="~/bower_components/myproject.min.js" type="text/javascript"></script>
    @*<script src="~/JSfiles/route.js" type="text/javascript"></script>*@
    @*<script src="~/JSfiles/allfoodController.js" type="text/javascript"></script>*@
    @*<script src="~/JSfiles/serviceCommon.js" type="text/javascript"></script>*@
    @*<script src="~/JSfiles/coffeeController.js" type="text/javascript"></script>
    <script src="~/JSfiles/dessertsController.js" type="text/javascript"></script>
    <script src="~/JSfiles/breakfastController.js" type="text/javascript"></script>
    <script src="~/JSfiles/saladsController.js" type="text/javascript"></script>*@
    @*<script src="~/JSfiles/MyAccountController.js" type="text/javascript"></script>
    <script src="~/JSfiles/detail.js" type="text/javascript"></script>*@
}
<div id="head_image">
</div>
<div ng-app="foodInfo">
    <nav>
    <div style="background-color:#c43700;" class="menu-nav">
        <ul class="nav nav-tabs">
            <li><a style="color:white" href="#/Home/Salads">Salads</a> </li>
            <li><a style="color:white" href="#/Home/Coffee">Coffee</a> </li>
            <li><a style="color:white" href="#/Home/Desserts">Desserts</a> </li>
            <li><a style="color:white" href="#/Home/Breakfast">Breakfast</a> </li>
            <li style="float:right;"><a style="color:white" href="#/Home/MyAccount">My Account</a> </li>
        </ul>
    </div>
    </nav>

    <div style="color:black">
        <div>
            <div ng-view></div> 
        </div>
    </div>
</div>



@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
